.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.Hero {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border: 2px solid black;
    
}
.nav {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border: 2px solid black;
}
.sadrzaj {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    border: 2px solid black;
}
.kateg_jedan {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    border: 2px solid black;
}
.kateg_dva {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    border: 2px solid black;
}
.ikone {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    border: 2px solid black;
}
.footer {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    border: 2px solid black;
    text-align: center;
}
.ikone {
    display: flex;
    justify-content: center;
    align-items: center;
}